body {
  padding: 0;
  margin: 0;
}
header {
  height: 70px;
  background: black;
  position: sticky;
  top: 0;
  width: 100%;
  transition: 0.5s;
  color: white;
}

header.blue {
  background-color: white;
  color: black;
}
#nav__bg1 {
  background-color: #000000;
}
