.become__host__btn:hover {
  border-radius: 1.5rem;
  background-color: #202020;
}
.become__host__btn {
  border: none;
  border-radius: none;
  background-color: transparent;
}
.nav__bg {
  background-color: #000000;
}
